<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgRd8ZPeK2NWlFqG_uymsLgKZ821CkilQ</string>
	<key>GCM_SENDER_ID</key>
	<string>791804057460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.startios.TravelGuige</string>
	<key>PROJECT_ID</key>
	<string>travelguige</string>
	<key>STORAGE_BUCKET</key>
	<string>travelguige.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791804057460:ios:a21b989908dda4c3037e21</string>
</dict>
</plist>